@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Genocs Card Verification</h1>
    <p>Learn about <a href="https://www.genocs.com">building Web apps with ASP.NET Core</a>.</p>

    <a class="btn btn-warning" asp-area="" asp-controller="Home" asp-action="VerifyHost3DS">Verify Your card</a>

    <p>Link to the <a href="https://test.monetaonline.it/monetaweb/backoffice">Nexi BackOffice</a>.</p>

</div>
